header {
  background-color: white;
  text-align: center;
}

img.logo {
    display: block;
    margin-left: auto;
    margin-right: auto 
}

.birte {
    width: 300px;
    height: 300px;
    border: 25px solid green;
    padding: 25px;
    margin: 25px;
    text-align: center;
}

.ben {
    width: 300px;
    height: 300px;
    border: 25px solid red;
    padding: 25px;
    margin: 25px; 
    text-align: center;
    display: inline-block;
}

.nicki {
    width: 300px;
    height: 300px;
    border: 25px solid blue;
    padding: 25px;
    margin: 25px; 
    text-align: center;
    display: inline-block;
}

.title {
    font-family: 'amatic sc';
}
