header {
  background-color: white;
  text-align: center;
}

img.logo {
    display: block;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
}

#characterboard {
  position: relative;
  text-align: center;
  top: 30px;
}

.box {
  border: 25px solid green;
  display: inline-block;
  width: 300px;
  height: 300px;
  padding: 25px auto;
  margin: 5px;
  text-align: center;
  overflow: hide;
}

.ben {
  border: 25px solid blue;
  background-image: url("assets/Ben.png");
}

.title {
    font-family: 'amatic sc';
}
